
body{
    color: rgb(58, 51, 55);
    font-family: "Arial";

}

.container {
    width: 70% ;
    height: 20rem;
    border: 1px solid;
    margin: 0 auto;
    padding: 1em;
    -webkit-box-shadow: 16px 85px 152px -14px rgba(230,53,230,1);
    -moz-box-shadow: 16px 85px 152px -14px rgba(230,53,230,1);
    box-shadow: 16px 85px 152px -14px rgba(230,53,230,1);
}
.container{
    text-align: center;
}

#cabecera {
    width: 70%;
    height: 15px;
    border: collapse;
    margin: auto;   
    font-size: 20px;
    padding: 2em;
    color: aliceblue;
    background: rgb(46,63,159);
    box-shadow: 1px 0px 70px rgb(176, 173, 207);
    

}

.container p{
    text-align: left;
    font-size: 1em;
}
#cabecera #imagen{
    width: 50px;
}
#cabecera #subText{
    font-size: 1rem;
}

